@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  background:#050816;
  color:white;
  overflow-x:hidden;
  font-family:sans-serif;
}

.gradient-text{
  background:linear-gradient(to right,#915EFF,#00CEA8);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.glass{
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.1);
  backdrop-filter:blur(10px);
}